body {
  padding-top: 55px;
  font-family: "nimbus-sans", sans-serif;
  font-size: 18px;
  color: #22264b;
  background-color: #92aac7;
}
a, a:hover {
  color: #3E8E94;
}
h1, h1 a, h2, h2 a, h3, h3 a, h4, h4 a, h5, h5 a, h6, h6 a, .navbar-brand {
  font-family: "athelas", serif;
  color:#22264b;
}
h2 a {
  color: #22264b;
}
main > section {
  width: 100%;
  position: relative;
  padding: 0;
}
section .content .container {
  padding: 0;
}
section .content {
  max-width: 1200px;
  margin: 30px auto;
  background-color: #e6cf8b;
}
section .content img {
  width: 100%;
}
section .content img.right {
  float:right;
  margin-left:30px
}
section .content img.left {
  float: left;
  margin-right: 30px
}
nav {
  background-color: #b56969;
  color: #22264b;
  font-weight: normal;
}
.navbar-nav {
  font-family: "athelas", serif;
}
.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
  color: #22264b;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #e8edf3;
}
#cover-image {
  height: calc(40vh - 55px);
  width: 100%;
  position: relative;
  background-position: center 0;
  background-size: cover;
  background-image: url("../images/covers/grand-canyon.jpg")
}
#title {
  height:100%;
  text-align:center;
}
#title .box {
  padding: 60px;
  background-color: #fff;
  opacity: .8;

}
.link-location {
  position: absolute;
  top: -55px;
}
#community-link.link-location {
  position: absolute;
  top: -200px;
}
.container-fluid {
  padding: 15px 0;
}
section h2 {
  padding-bottom: 20px;
}
.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('../img/videoframe.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}
@media (min-width:415px){
  section .content {
    padding: 30px 40px;
  }
}
@media (min-width:768px){
  #cover-image {
    height: calc(85vh - 55px);
  }
}
